@charset "utf-8";

@import '../base';

$c-inquiry-brown: #b08f51;
$c-inquiry-blue: #0046b7;
// $c-inquiry-blue-dark: #182668;
$c-inquiry-blue-dark: #0c0c68;
$c-inquiry-red: #ec0000;
$c-inquiry-red-dark: #c2063f;
$c-inquiry-purple: #cc0099;

body {
    font-family: $font-stack;
    font-display: swap;
    letter-spacing: -0.5px;
    color: #333;
}

header,
.container,
footer {
    position: relative;
}

.container[role=main] {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

// --------------------
// header 영역
// --------------------
#landingInquiryPage {

    .wrapper {
        // max-width: 375px;
        // margin: 0 auto;
    }

    .lg-wd,
    .group-f,
    .group {
        // width: 1100px;
    }

    .pd-m {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .group {
        padding-left: 15px;
        padding-right: 15px;
    }

    .c-brown {
        color: $c-inquiry-brown !important;
    }

    .c-blue {
        color: $c-inquiry-blue !important;
    }

    // .c-blue-light {
    //     color: $c-inquiry-blue-light !important;
    // }

    .c-blue-dark {
        color: $c-inquiry-blue-dark !important;
    }

    .c-red {
        color: $c-inquiry-red !important;
    }

    .c-red-dark {
        color: $c-inquiry-red-dark !important;
    }

    .c-purple {
        color: $c-inquiry-purple !important;
    }

    .landing-header {
        $line-ht: 6px;
        // $hd-ht-pc: 80px;
        $hd-ht-down: $hd-ht-pc - 20;
        z-index: 10;
        width: 100%;
        // min-width: calc(1100px + 400px);
        // height: $hd-ht;
        // margin-bottom: $line-ht;

        .gnb {
            z-index: 10;
            // @include pos(fixed, 0, 0);
            position: relative;
            // background-color: $c-blue;
            width: 100%;
            // height: $hd-ht-pc;
            transition: height .3s;
            box-sizing: border-box;
            background-color: #fff;
            // border-bottom: 1px solid #fff;

            .gnb-area {
                position: relative;

                .logo-bar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 40px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-bottom: 1px solid #888;
                    box-sizing: border-box;

                    .logo-cover {
                        img {
                            height: 26px;
                        }
                    }

                    .tel {
                        img {
                            height: 25px;
                        }
                    }

                }

                $nav-bar-ht: 45px;

                .nav-bar-wrapper {
                    height: $nav-bar-ht;
                }

                .nav-bar {
                    $nav-bar-ht: 45px;
                    height: $nav-bar-ht;
                    position: relative;

                    &.affix {
                        top: 0;
                        left: 0;
                        box-shadow: 0 3px 6px rgba(0, 0, 0, .12);
                    }

                    .main-nav {
                        position: relative;
                        width: 100%;
                        height: $nav-bar-ht;
                        overflow-x: scroll;
                        background-color: #ffffff;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        .menu {
                            display: flex;
                            flex-wrap: nowrap;

                            >li {
                                flex-shrink: 0;
                                position: relative;
                                margin: 0 8px;
                                font-size: 14px;

                                >a {
                                    position: relative;
                                    display: block;
                                    height: $nav-bar-ht;
                                    line-height: $nav-bar-ht;
                                    font-weight: 700;
                                    letter-spacing: -1.5px;
                                }

                                &.on>a {
                                    color: $c-inquiry-brown;
                                }

                                &:last-child>a {
                                    padding-right: 50px;
                                }
                            }
                        }
                    }

                    .allmenu-toggle-btn {
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-left: 15px;
                        padding-right: 10px;
                        height: 100%;
                        // background-color: #ffffff;
                        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%);

                        .dot {
                            width: 4px;
                            height: 4px;
                            background-color: #999999;
                            margin: 0 2px;
                            border-radius: 50%;
                        }
                    }

                    .allmenu {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        padding-bottom: 20px;
                        background-color: #ffffff;

                        .menu-list {
                            position: relative;
                            left: -1.5px;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            padding: 7px 0;

                            >a:not(.close-btn) {
                                position: relative;
                                margin: 0 8px;
                                font-size: 14px;
                                // line-height: $nav-bar-ht;
                                line-height: 2.2;
                                font-weight: 700;
                                letter-spacing: -1.5px;

                                // @include screen-xxs {
                                //     font-size: 12px;
                                // }

                                &.on {
                                    color: $c-inquiry-brown;
                                }
                            }

                            @include screen-min(375px) {
                                left: -8.5px;
                            }
                        }


                        .close-btn {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            display: flex;
                            align-items: center;
                            padding: 0 10px;
                            height: 28px;
                            background-color: #888888;
                            color: #ffffff;
                            font-size: 11.5px;
                            font-weight: 300;

                            .x {
                                margin-right: 5px;
                                font-size: 16px;
                                font-weight: 100;
                            }
                        }
                    }
                }

            }

            .inquiry-tab {
                position: absolute;
                right: 40px;
                top: 50%;
                transform: translateY(-50%);
                width: 150px;
                height: 40px;
                background-color: #fff;
                border: 1px solid #aaa;
                font-size: 18px;
                color: $c-inquiry-brown;
            }
        }
    }

    .landing-footer {
        text-align: center;
        line-height: 1.428;

        .tel-bar {
            padding: 6px 0;
            background-color: $c-inquiry-brown;
            color: #ffffff;
            font-size: 20px;
        }

        .footer-area {
            padding: 15px 0 70px;
            background-color: #efefef;
            font-weight: 300;
        }

        .address {
            font-size: 11px;

            .inquiry {
                margin-bottom: 5px;
                font-size: 12.5px;
                font-weight: 500;
            }
        }

        .copyright {
            display: block;
            margin-top: 10px;
            font-size: 11px;
        }
    }

    aside.quick-menu {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        margin-left: 660px;
        width: 140px;

        .menu {
            margin-top: 15px;

            >li {
                position: relative;
                background-color: #777777;
                border: 1px solid transparent;
                box-sizing: border-box;
                font-size: 18px;
                height: 60px;
                color: #eeeeee;


                &:not(:first-child):not(:last-child) {
                    border-top-color: #545454;
                }

                &.on {
                    background-color: $c-inquiry-brown;

                    &:before {
                        $size: 43px;
                        content: '';
                        display: block;
                        position: absolute;
                        // left: - $size / 2;
                        left: -22px;
                        top: 8px;
                        width: $size;
                        height: $size;
                        background-color: $c-inquiry-brown;
                        transform: rotate(-45deg);
                    }
                }

                &.inquiry {
                    background-color: #fff;
                    border-color: #888;
                    border-top: 0;
                    color: #666666;
                }

                >a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                }

            }
        }

        .top-btn-cover {
            display: block;
            margin-top: 30px;
            text-align: center;
        }
    }

    .btm-rt-shorcut {
        z-index: 20;
        position: fixed;
        right: 10px;
        bottom: 60px;

        .top-btn-cover {
            display: block;
            width: 40px;
            opacity: .8;
        }
    }

    .inquiry-modal {
        display: block;

        .modal-wrapper {
            display: initial;
            position: absolute;
            left: 50%;
            margin-left: 610px;
            // top: 162px;
            top: 50%;
            transform: translateY(-50%);
            margin-top: -48px;
        }

        .modal-container {
            width: 240px;
            background-color: #fff;
            border: 2px solid #07076a;
            box-sizing: border-box;
            border-radius: 10px;
            overflow: hidden;

            .modal-header {
                padding: 12px 0 10px;
                background-color: #07076a;
                text-align: center;
            }

            .modal-body,
            .modal-footer {
                padding: 0 15px;
            }

            .modal-body {
                padding-top: 15px;
                padding-bottom: 15px;

                .form-group {
                    &:not(:first-child) {
                        margin-top: 15px;
                    }

                    label {
                        margin-bottom: 5px;
                        font-size: 15px;
                        font-weight: 500;
                    }

                    .form-input,
                    .form-textarea {
                        background-color: #f5f5f5;
                        box-shadow: none;
                    }

                    .form-input::placeholder,
                    .form-textarea::placeholder {
                        color: #888888;
                        font-weight: 300;
                    }

                    .form-input {
                        height: 35px;
                        border-color: #ccc;
                    }

                    .form-textarea {
                        height: 140px;
                    }
                }
            }

            .modal-footer {
                padding-bottom: 15px;
                text-align: center;

                .inquiry-btn {
                    display: block;
                    width: 100%;
                    height: 45px;
                    background-color: $c-inquiry-red-dark;
                    font-size: 18px;
                    color: #ffffff;
                }

                .close-btn {
                    display: inline-block;
                    margin-top: 15px;
                    text-align: center;

                    >* {
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .x {
                        background-color: #898989;
                        color: #ffffff;
                        font-size: 18px;
                        font-weight: 100;
                    }

                    .txt {
                        margin-left: 8px;
                        top: -1px;
                        color: #555555;
                    }
                }
            }
        }
    }
}