@charset "utf-8";

@import '../base';

$c-inquiry-brown: #b08f51;
$c-inquiry-blue: #0046b7;
$c-inquiry-blue-dark: #182668;
$c-inquiry-red: #ec0000;
$c-inquiry-red-dark: #c2063f;
$c-inquiry-purple: #cc0099;

body {
    font-family: $font-stack;
    font-display: swap;
    letter-spacing: -0.5px;
    color: #333;
}

header,
.container,
footer {
    position: relative;
}

.container[role=main] {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

// --------------------
// header 영역
// --------------------
#landingInquiryPage {

    .lg-wd,
    .group-f,
    .group {
        width: 1100px;
    }

    .c-brown {
        color: $c-inquiry-brown !important;
    }

    .c-blue {
        color: $c-inquiry-blue !important;
    }

    // .c-blue-light {
    //     color: $c-inquiry-blue-light !important;
    // }

    .c-blue-dark {
        color: $c-inquiry-blue-dark !important;
    }

    .c-red {
        color: $c-inquiry-red !important;
    }

    .c-red-dark {
        color: $c-inquiry-red-dark !important;
    }

    .c-purple {
        color: $c-inquiry-purple !important;
    }


    .wrapper {
        min-width: 1900px;
    }

    .landing-header {
        $line-ht: 6px;
        // $hd-ht-pc: 80px;
        $hd-ht-down: $hd-ht-pc - 20;
        z-index: 10;
        width: 100%;
        // min-width: calc(1100px + 400px);
        // height: $hd-ht;
        // margin-bottom: $line-ht;

        .gnb {
            z-index: 10;
            // @include pos(fixed, 0, 0);
            position: relative;
            // background-color: $c-blue;
            width: 100%;
            height: $hd-ht-pc;
            transition: height .3s;
            box-sizing: border-box;
            background-color: #fff;
            // border-bottom: 1px solid #fff;

            .logo-cover {
                z-index: 1;
                position: absolute;
                top: 0;
                // left: 40px;
                left: 0px;
                display: inline-block;
                height: 100%;

                &:after {
                    content: '';
                    display: inline-block;
                    height: $hd-ht-pc;
                    vertical-align: middle;
                }

                .logo {
                    @include va;
                }
            }

            .gnb-area {
                height: 100%;

                .nav-bar {
                    // @include flt(right);
                    // right: 20px;
                    position: relative;
                    // margin-right: 40px;

                    .main-nav {
                        text-align: right;

                        $menu-bd-w: 4px;

                        .menu {
                            display: inline-block;
                            vertical-align: top;

                            >li {
                                position: relative;
                                display: inline-block;
                                text-align: center;
                                font-size: 0;
                                box-sizing: border-box;

                                &:before {
                                    content: '';
                                    display: inline-block;
                                    height: $hd-ht-pc;
                                    vertical-align: middle;
                                }

                                >a {
                                    @include va;
                                    // padding: 0 20px;
                                    margin: 0 20px;
                                    // @include ft(18px, #fff);
                                    font-size: 18px;
                                }

                                &:last-child {
                                    >a {
                                        margin-right: 0;
                                    }
                                }

                                // &:hover {
                                //     &:after {
                                //         content: '';
                                //         display: block;
                                //         position: absolute;
                                //         width: 100%;
                                //         height: $menu-bd-w;
                                //         left: 0;
                                //         bottom: 0;
                                //         background-color: $primary-color;
                                //     }

                                //     & .menu2 {
                                //         display: block;
                                //     }
                                // }
                            }
                        }
                    }
                }

            }

            .inquiry-tab {
                position: absolute;
                right: 40px;
                top: 50%;
                transform: translateY(-50%);
                width: 150px;
                height: 40px;
                background-color: #fff;
                border: 1px solid #aaa;
                font-size: 18px;
                color: $c-inquiry-brown;
            }
        }
    }

    .landing-footer#footer {
        padding: 15px 0 120px;
        background-color: #efefef;

        .footer-area {
            display: flex;
            width: $screen-lg-width;
            margin: 0 auto;
            line-height: 1.3;
            color: #666666;
            font-weight: 300;

            .logo {
                width: 120px;
            }

            .address {
                margin-top: 5px;
                font-size: 12px;
            }
        }
    }

    aside.quick-menu {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        margin-left: 660px;
        width: 140px;

        .menu {
            margin-top: 15px;

            >li {
                position: relative;
                background-color: #777777;
                border: 1px solid transparent;
                box-sizing: border-box;
                font-size: 18px;
                height: 60px;
                color: #eeeeee;


                &:not(:first-child):not(:last-child) {
                    border-top-color: #545454;
                }

                &.on {
                    background-color: $c-inquiry-brown;

                    &:before {
                        $size: 43px;
                        content: '';
                        display: block;
                        position: absolute;
                        // left: - $size / 2;
                        left: -22px;
                        top: 8px;
                        width: $size;
                        height: $size;
                        background-color: $c-inquiry-brown;
                        transform: rotate(-45deg);
                    }
                }

                &.inquiry {
                    background-color: #fff;
                    border-color: #888;
                    border-top: 0;
                    color: #666666;
                }

                >a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                }

            }
        }

        .top-btn-cover {
            display: block;
            margin-top: 30px;
            text-align: center;
        }
    }

    .inquiry-modal {
        display: block;

        .modal-wrapper {
            display: initial;
            position: absolute;
            left: 50%;
            margin-left: 610px;
            // top: 162px;
            top: 50%;
            transform: translateY(-50%);
            margin-top: -48px;
        }

        .modal-container {
            width: 240px;
            background-color: #fff;
            border: 2px solid #07076a;
            box-sizing: border-box;
            border-radius: 10px;
            overflow: hidden;

            .modal-header {
                padding: 12px 0 10px;
                background-color: #07076a;
                text-align: center;
            }

            .modal-body,
            .modal-footer {
                padding: 0 15px;
            }

            .modal-body {
                padding-top: 15px;
                padding-bottom: 15px;

                .form-group {
                    &:not(:first-child) {
                        margin-top: 15px;
                    }

                    label {
                        margin-bottom: 5px;
                        font-size: 15px;
                        font-weight: 500;
                    }

                    .form-input,
                    .form-textarea {
                        background-color: #f5f5f5;
                        box-shadow: none;
                    }

                    .form-input::placeholder,
                    .form-textarea::placeholder {
                        color: #888888;
                        font-weight: 300;
                    }

                    .form-input {
                        height: 35px;
                        border-color: #ccc;
                    }

                    .form-textarea {
                        height: 140px;
                    }
                }
            }

            .modal-footer {
                padding-bottom: 15px;
                text-align: center;

                .inquiry-btn {
                    display: block;
                    width: 100%;
                    height: 45px;
                    background-color: $c-inquiry-red-dark;
                    font-size: 18px;
                    color: #ffffff;
                }

                .close-btn {
                    display: inline-block;
                    margin-top: 15px;
                    text-align: center;

                    >* {
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .x {
                        background-color: #898989;
                        color: #ffffff;
                        font-size: 18px;
                        font-weight: 100;
                    }

                    .txt {
                        margin-left: 8px;
                        top: -1px;
                        color: #555555;
                    }
                }
            }
        }
    }
}